<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299511919695-is5o6t816n0kvlm4f93k780bto3j2bmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299511919695-is5o6t816n0kvlm4f93k780bto3j2bmm</string>
	<key>API_KEY</key>
	<string>AIzaSyAjVFu0n-KFj_vW1jDgqGmNncmbxD-zwBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>299511919695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.girimote</string>
	<key>PROJECT_ID</key>
	<string>girimote-b5fa2</string>
	<key>STORAGE_BUCKET</key>
	<string>girimote-b5fa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299511919695:ios:d68671c6b4f2c3b34b663a</string>
</dict>
</plist>